.filter-tag {
    display: flex;
    align-items: center;
    height: 1.875rem;
    background-color: hsl(180, 31%, 95%);
    border-radius: 0.313rem;
    overflow: hidden;
}

.filter-tag .name {
    padding: 0.313rem 0.625rem;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
}

.remove-filter {
    border-radius: 0 0.313rem 0.313rem 0;
    background-color: hsl(180, 29%, 50%);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.875rem;
    width: 1.875rem;
}

.remove-filter:hover {
    cursor: pointer;
    background-color: hsl(180, 14%, 20%);
}