.job-listing {
    width: 80vw;
    display: flex;
    align-items: center;
    padding: 1.25rem;
    background-color: white;
    border-radius: 0.313rem;
    position: relative;
    box-shadow: 0 0.625rem 0.625rem 0 hsla(180, 29%, 50%, 0.2);
}

.job-listing.featured::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.313rem;
    height: 100%;
    border-radius: 0.313rem 0 0 0.313rem;
    background-color: hsl(180, 29%, 50%);
}

.logo {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.description {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listing-tags {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    height: 1.875rem;
}

.listing-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    padding-inline: 0.625rem;
    border-radius: 0.625rem;
    font-size: 0.8rem;
}

.new-tag {
    background-color: hsl(180, 29%, 50%);
    color: white;
}

.featured-tag {
    background-color: hsl(180, 14%, 20%);
    color: white;
}

.company-name {
    font-size: 1.125rem;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
}

.listing-divider {
    display: none;
}

.position-title {
    font-size: 1.5rem;
}

.position-title:hover {
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}

.listing-stats {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: hsl(180, 8%, 52%);
}

.stats-divider {
    padding: 0.063rem;
    border-radius: 50%;
    border: 0.063rem solid hsl(180, 8%, 52%);
    background: hsl(180, 8%, 52%)
}

.position-tags {
    margin-left: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: 1.25rem;
}


@media screen and (max-width: 47rem) {
    .job-listing {
        flex-direction: column;
        position: relative;
        padding-top: 7vh;
    }

    .logo {
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
    }

    .description {
        gap: 2vh
    }
    
    .listing-tag {
        font-size: 0.8rem;
    }

    .position-title {
        font-size: 1.2rem;
    }

    .listing-divider {
        display: block;
        width: 100%;
        height: 0.063rem;
        background-color: hsl(180, 8%, 52%);
        margin-block: 2vh;
    } 

    .position-tags {
        width: 100%;
        justify-content: start;
    }


  }