.position-tag {
    padding: 0.625rem;
    background-color: hsl(180, 31%, 95%);
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    border-radius: 0.313rem;
}

.position-tag:hover {
    cursor: pointer;
    background-color: hsl(180, 29%, 50%);
    color: white;
}